FOUNDRY_PROJECT_ENDPOINT=https://ai-account-uxluiilsxlu4w.services.ai.azure.com/api/projects/ai-project-ampls-foundry-test02
AZURE_AI_MODEL_DEPLOYMENT_NAME=gpt-4.1-mini
AZURE_SUBSCRIPTION_ID=f6eb08ce-f112-4889-9891-829161ecbd66
MONITOR_AGENT_NAME=monitor-recommendations-agent
